*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html {
  font-family: 'DM Serif Display', serif;
  font-family: 'Jost', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin:200px auto;
}

.flex-container {
  display: flex;
}

h1 {
  font-family: 'DM Serif Display', serif;
  line-height: 125%;
  font-weight: 400;
}


h2 {
  font-family: 'DM Serif Display', serif;
  color: #292F36;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.02rem;
}

h3 {
  font-family: 'DM Serif Display', serif;
  color: #292F36;
  letter-spacing: 0.02rem;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 125%;
}

p {
  font-family: 'Jost', sans-serif;
  font-size: 1.375rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  color: #4D5053;
  font-weight: 400;
}

/* header */

.site-header {
  width: 100%;
  Display:block; 
}
 
.site-header .container {
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  margin: 0 auto;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav li {
  margin-right: 40px;
}

.header-nav li:last-child {
  margin-right: 0;
}

.header-nav a {
  text-decoration: none;
  color: #292F36;
  font-size: 1.25rem;
  font-family: 'Jost', sans-serif;
  line-height: 125%;
  transition: color 0.3s ease-in-out;
}

.header-nav a:hover {
  color: #CDA274; 
}

/* banner */

.banner {
  background-image: url("../images/banner.png");
  align-items: center;
  border-radius: 70px;
  min-height: 758px;
  margin-top: 0;
}

.banner-content {
  max-width: 600px;
  text-align: left;
  padding: 0 50px;
}

.banner h1 {
  color: #292F36;
  font-size: 4.0625rem;
}

.btn {
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  background-color: #292F36;
  padding: 29px 49px;
  border-radius: 18px;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(192, 192, 192, 0.35);
}

.banner-content .btn {
  box-shadow: none;
}

.btn .bi{
  color: #CDA274;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: normal;
  margin-left: 5px;
}

.btn:hover {
  background-color: #0f1214; /* change to the desired button hover color */
}

/* work */

.col {
  flex-basis: calc(33.33% - 20px);
  text-align: center;
}

.col h3 {
  font-family: 'DM Serif Display', serif;
  color: #292F36;
  letter-spacing: 0.02rem;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 125%;
}

.col p {
  padding: 20px 20px;
}

.col .read-button {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.02rem;
  color: #4D5053;
  background: none;
  padding: 10px 20px;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.col .read-button:hover {
  color: #CDA274;
}

.col .read-button .bi{
  color: #CDA274;
  font-size: 1.125rem;
  line-height: 125%;
  letter-spacing: 0.02rem;
}

/* about us */

.left {
  margin-right: 75px;
  margin-top: 43px;
}

.left h2 {
  margin-bottom: 33px;
  margin-right: 50px;
}

.left p {
  margin-right: 10px;
}

.phone {
  margin-top: 45px;
  margin-bottom: 47px;
}

.phone i {
  font-size: 2rem;
  background-color: #F4F0EC;
  border-radius:50%;
  color: #CDA274;
  padding:  40px;
}
.phone-number p{
  margin-left: 15px;
}

.phone-number .number {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: #4D5053;
  margin-bottom: 0;
}
.phone-number .cta {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01rem;
  color: #4D5053;
  margin-top: 0;
}

.right img{
  border-radius: 0px 326px 0px 123px;
}

/* testimonials */

.testimonial .container{
background-color: #F4F0EC;
border-radius: 70px;
padding: 88px;
}

.testimonial h2 {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.testimonial-cards {
  display: flex;
  justify-content: space-around;
}

.testimonial-card {
  padding: 53px 37px;
  background-color: white;
  border-radius: 20px;
  min-width: 370px;
  margin: 0 10px;
}

.testimonial-card img {
  max-width: 77px;
  max-height: 77px;
  margin-right: 23px;
}

.testimonial-author {
  align-items: center;
}

.name-location {
 flex-direction: column;
}

.name-location h3 {
  font-family: 'DM Serif Display', serif;
  color: #292F36;
  letter-spacing: 0.01rem;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: auto;
}

.name-location p {
  font-family: 'Jost', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  color: #4D5053;
  margin-top: auto;
}

/* client-logos */

.logos{
  justify-content: space-around;
  align-items: center;
  margin: -50px auto;
}

/* contact-form */
.contact-form-section {
  margin-top: 150px;
  margin-bottom: 100px;
}

.contact-form {
  max-width: 66.67%;
}

.form{
  justify-content: space-between;
}

.contact-form input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  width: calc(50% - 40px);
  margin-bottom: 40px;
  margin-top: 0px;
  padding-bottom: 13px;
}

.left {
  margin-right: 20px;
}

.contact-form textarea {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  min-width: calc(100% - 55px);
  margin-bottom: 70px;
  resize: none;
  padding-bottom: 130px;
}

.contact-form .btn {
  padding: 26px 54px;
  margin-left: 525px;
  cursor: pointer;
}

.contact-form ::placeholder{
  font-family: 'Jost', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  color: #4D5053;
}

/* projects */

.projects-section h2{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.projects-section p{
  max-width: 737px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 37px;
}

.project-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  margin-top: 56px;
}

.project-cards > :nth-child(1) img {
  border-radius: 0 15% 0 0;
}

.project-cards > :nth-child(2) img {
  border-radius: 15% 0 0 0;
}

.project-cards > :nth-child(3) img {
  border-radius: 0 0 15% 0;
}

.project-cards > :nth-child(4) img {
  border-radius: 0 0 0 15%;
}

.sub-project h3 {
  margin: 0;
}

.sub-project p {
  margin:0;
}

.sub-project {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.arrow a {
  color:#292F36;
}

.arrow i {
  font-size: 2rem;
  background-color: #F4F0EC;
  border-radius:50%;
  padding:  15px;
}

/* counter */

.counter {
  background-color: #F4F0EC;
}

.counters {
  display: flex;
  justify-content: center;
  padding: 151px;
}

.count {
  margin:0;
  padding:0 76px;
  position: relative;
  z-index : 1;
}

.count:not(:last-child):before{
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 5%;
  height  : 85%;
  width   : 100%; 
  border-right: 1px solid #CDA274;
}

.count h1 {
  margin-top:0;
  text-align: center;
  font-size: 5.3125rem;
  color: #CDA274;
  margin-bottom: 16px;
}
.count p {
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

/* news */

.news h2{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}

.news p{
  margin-top: 0px;
  max-width: 737px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 52px;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  border: 1px solid #E7E7E7;
  border-radius: 62px;
  max-width: 382px;
  height: 521px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px 21px;
}

.news-cards > :nth-child(even) {
background-color: #F4F0EC;
}

.news-cards > :nth-child(even) .arrow i {
  background-color: white;
  }

.news-card h3 {
  max-width: 305px;
  max-height: 70px;
  margin-top: 10px;
}

.image-container img {
  border-radius: 50px 50px 0 0;
}

.image-container {
  position:relative;
}

.image-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.image-overlay p {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  font-size: 1rem;
  margin: 0;
}

.sub-news-card p {
  margin:0;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.1rem;
}

.sub-news-card {
  margin-top: 30px;
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.sub-news-card .arrow i {
  font-size: 1rem;
  border-radius:50%;
  padding: 17px;
}

/* contact cta */

.contact-cta-box {
  background: #292F36;
  border-radius: 70px;
  padding: 80px 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-cta-box h2{
  color: white;
  text-align: center;
  margin-bottom: 11px;
}

.contact-cta-box p{
  margin: 0;
  color: white;
  text-align: center;
}

.contact-cta-box .btn{
  margin-top: 32px;
  background-color: #CDA274;
  box-shadow: 0 10px 20px rgba(31, 32, 34, 1);
}
.contact-cta-box .btn .bi{
  color: white;
}

/* footer */

.footer-menu {
  justify-content: space-between;
}

.company, .company img {
  width: 393px;
}


.company p {
  margin-top: 18px;
  margin-bottom: 31px;
}

.socials a {
  text-decoration: none;
  color: #292F36;
  font-size: 1.1875rem;
  margin-right: 54px;
  /* transition: color 0.3s ease; */
}

.socials a:hover {
  color: #CDA274; 
}

.pages {
  width: 135px;
}

.footer-menu > p {
  font-family: 'DM Serif Display', serif;
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 125%;
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-menu a {
  font-family: 'Jost', sans-serif;
  text-decoration: none;
  color: #292F36;
  font-size: 1.375rem;
  line-height: 300%;
  letter-spacing: 0.1rem;
  /* transition: color 0.3s ease; */
}

.footer-menu a:hover {
  color: #CDA274; 
}

.services {
  width: 120px;
}

.contact {
  width: 258px;
}

a.address{
  line-height: 150%;
}

p.contact-label {
  margin-bottom: 26px;
}

p.copyright {
  text-align: center;
  margin-top: 174px;
  margin-bottom: 43px;
}

.footer-container {
  margin-bottom: 0;
}

/* burger time */

.menu {
  display: flex;
}

.burger-icon {
  display: none; 
  cursor: pointer;
}

.line {
  width: 35px;
  height: 4px;
  background-color: #292F36;
  margin: 5px;
  border-radius: 5px;
}

/* tablet mode */

@media (max-width: 1270px) {

  .container {
    max-width: 90%;
    margin: 80px 5%;
  }

  /* header */

  .container.flex-container .burger-icon{
    margin-right: 0;
  }

  .burger-icon {
    display: block;
  }

  .header-nav.flex-container {
    width: 100%;
    justify-content: flex-end;
  }

  .menu {
    display: none;
  }

  .menu.show {
    display: flex;
    width: 100%;
    opacity: 1;
  }

  .menu.show a {
    font-size: 1.5rem;
  }

  .header-logo.hide {
    display: none;
  }

  .burger-icon.active .line {
    background-color: #CDA274;
  }

  .burger-icon.active {
    margin-right: 0;
  }

  /* banner */

  .banner.container.flex-container {
    margin-top: 0;
  }

  /* about-us */

  .left {
    width: 95%;
    margin:0;
  }

  .right {
    display:flex;
    width: 100%;
    height: 100%;
  }

  .right img {
    flex: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* testimonial */

  .testimonial .container {
    height: auto;
  }

  .testimonial-cards {
    flex-direction: column;
  }

  .testimonial-cards > .testimonial-card:not(:last-child) {
    margin-bottom: 25px;
  }

  /* client logo */
  .logos.container.flex-container {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px 20px;
    padding: 0 30px;
  }

  .logos.container.flex-container img {
    flex-basis: 10%;
    max-width: 100%;
    height: auto;
  }

  /* projects */

  .project-cards {
    justify-content: space-around;
  }

  .project-card {
    width: 45%;
    height: 30vh;
  }

  .project-cards > .project-card img {
    border-radius: 20px;
  }

  .project-card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .sub-project {
    height: 20%;
  }

  /* counter */

  .counters.container {
    flex-wrap: wrap;
    padding: 50px;
  }

  .count {
    width: 50%;
    margin-bottom: 20px;
  }

  .count:not(:last-child):before{
    display: none;

  }

  /* news */

  .news-cards {
    justify-content: space-around;
  }

  .news-card {
    margin: 0 10px;
    margin-bottom: 30px;
    max-width: fit-content;
  }

  /* contact-cta */

  .contact-cta-box {
    padding:10%;
  }

  /* contact-form */

  .contact-form-section {
    margin-top: 25px;
  }

  .form.container.flex-container {
    margin-top: 0;
    flex-direction: column;
  }

  .form h2 {
    margin-top: 0;
  }

  .contact-form {
    max-width: 100%;
  }

  .contact-form .left {
    width:50%;
  }

  .contact-form input {
    width: 49%;
  }

  .contact-form textarea {
    min-width: 100%
  }

  .contact-form .btn {
    margin:0 auto;
  }

  /* footer */

  .footer .pages, .footer .services, .footer .contact {
    display: none;
  }

  .container.footer-container{
    margin-bottom: 10px;
  }

  .footer .company {
    width: 100%;
  }

  p.copyright {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .socials {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}

/* phone mode */

@media (max-width: 769px) {

  .container {
    max-width: 90%;
    margin: 40px 5%;
  }

  /* header */

  .header-logo img {
    width: 80%;
    height: auto;
  }

  .container.flex-container .burger-icon{
    margin-right: 0;
  }

  .burger-icon {
    display: block;
  }


  .menu.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .menu.show li{
    width: 33%;
  }

  .menu.show a {
    font-size: 1.5rem;
  }

  .header-logo.hide {
    display: none;
  }

  .burger-icon.active .line {
    background-color: #CDA274;
    align-self: center;
  }

  .burger-icon.active {
    margin: auto;
    margin-right: 0;
  }

    /* banner */

    .banner-content h1 {
      font-size: 2rem;
      margin-top: 0;
    }

    .banner-content {
      padding:0;
    }

    .banner{
      min-height: auto;
      padding: 20px;
      border-radius: 15px;
      background-position: center;
    }

    .banner-button.btn {
      padding: 15px;
      margin-bottom: 0;
    }

    /* work */

    .row.flex-container{
      flex-direction: column;
    }

    /* about-us */

    .right {
      display: none;
    }

    .left {
      width: 100%;
      margin: 0 0;
      display: flex;
      flex-direction: column;
      align-content: center;
    }

    .col-half {
      width: 100%;
    }

    .about-us h2 {
      font-size: 2rem;
      margin: 0;
    }

    .phone i {
      padding: 0;
      height: 50px;
      width: 50px;
      text-align: center;
      padding-top: 8px;
    }

    .phone.flex-container {
      align-items: center;
      margin: 15px;
    }

    a.btn {
      padding: 15px 15px;
      margin: 0 auto;
    }

    /* testimonial */

    .testimonial-heading {
      font-size: 2rem;
    }

    .testimonial .container {
      border-radius: 40px;
    }

    .testimonial .container {
      padding: 10px;
      padding-bottom: 20px;
    }

    .testimonial-card {
      padding: 20px 15px;
      min-width: auto;
    }

    p.testimonial-text {
      margin: 0;
    }

    /* logos */

    .logos.container.flex-container {   
      gap: 30px 10px;
      padding: 0 20px;
    }

    /* projects */

    .projects-section {
      margin-bottom: 60px;
    }

    .projects-section h2 {
      font-size: 2rem;
      margin-top: 70px;
    }

    p.projects-subheading {
      margin-bottom: 0;
    }

    .project-card {
      width: 100%;
      height: 30vh;
      margin-bottom: 15px;
    }

    /* counters */

    .counters.container {
      padding: 0;
      margin-top: 30px;
    }
    .count {
      width: 50%;
      margin-bottom: 20px;
      padding: 0;
    }

    .count h1 {
      font-size: 4rem;
    }

    .count p {
      font-size: 1rem;
    }

    /* news */

    .news h2 {
      font-size: 2rem;
    }

    .news-cards {
      margin-top: 15px;
    }

    .news-card {
      margin: 20px auto;
      max-width: 100%;
      padding-bottom: 50px;
      height: auto;
    }

    .image-container {
      max-width: 100%;
    }

    .image-container img {
      max-width: 100%;
    }

    /* contact-cta */

    .contact-cta h2 {
      margin-top: 0;
      font-size: 2rem;
    }

    .contact-cta-box {
      border-radius: 40px;
    }

    /* contact-form */

    .contact-form .left {
      width:100%;
    }
  
    .contact-form input {
      width: 98%;
      margin-bottom: 20px;
    }

    textarea#message {
      margin-bottom: 20px;
    }

    .contact-form .btn {
      padding: 20px;
      margin-left: 50%;
    }

    /* footer */

    .company img {
      width: 100%;
    }
    
    .company p {
      margin-bottom: 15px;
    }

    .socials {
      margin-bottom: 0;
    }

    .socials a {
      margin:auto auto;
    }

    p.copyright {
      font-size: 1rem;
    }

    .form h2 {
      font-size: 2rem;
    }











}